Name an object sybmolzing {{physical_sensation}} in an advertisement conveying the following message:
{% for statement in action_reason %}
    - {{statement}}
{% endfor %}
Only name one object without any further explanation.
object: